.mat-drawer {
  width: 260px;
}
.mat-drawer-container {
  height: 100%;
  background-color: white;
}

.mat-drawer {
  background: #333;
  width: 18%;
}
.small {
  background: #333;
  width: 75px;
}
