<div class="change-container">
    <mat-toolbar class="mat-elevation-z8 navbar" >
        <img  class="logo" src="assets/kd-logo-1.png" alt="logo">
    </mat-toolbar>
    <div class="changepassword">
        <mat-card>
           <div>
                <h1>Change Password</h1>
                <hr>
           </div>
            <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
                <label>Default Password</label>
                <input type="password" disabled value="kesteDamena@13579,">
                <label>New Password</label>
                <input type="password" formControlName='password'>
                <span *ngIf="!changeForm.get('password')?.valid && changeForm.controls.password.errors?.minlength && changeForm.get('password')?.touched"
                    class="help-block">Password must have at least 8 characters,Please enter a valid password!</span>
                <label>Confirm Password</label>
                <input type="password" formControlName='re-typePassword'>
                <span *ngIf="changeForm.get('password')?.value !== changeForm.get('re-typePassword')?.value && changeForm.get('re-typePassword')?.touched"
                    class="help-block">Password and Confirm Password does not match</span>
                <button [disabled] ='!changeForm.valid'>Submit</button>
            </form>
        </mat-card>
    </div>
</div>