.navbar {
  background-color: white;
}
.logo {
  height: 40px;
  object-fit: contain;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
}
.changepassword {
  width: 30%;
  margin-top: 8%;
  margin-left: 35%;
  margin-right: 35%;
}
.changepassword > mat-card > div {
  text-align: center;
}
.changepassword > mat-card > div > h1 {
  color: #1e3f66;
  font-size: 30px;
}
.changepassword > mat-card > form {
  display: flex;
  flex-direction: column;
}
.changepassword > mat-card > form > label {
  color: #1e3f66;
}
.changepassword > mat-card > form > input {
  padding: 8px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.changepassword > mat-card > form > button {
  background-color: #31baf5;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.changepassword > mat-card > form > input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.help-block {
  color: red;
  margin-bottom: 5px;
  font-size: 14px;
}
