<mat-toolbar>
    <mat-toolbar-row class="tool">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
            <img src="./assets/profile.jpg" alt="user-image" class="user-image mr-1 p-2 expand" [matMenuTriggerFor]="menu" />
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onLogOut()">
                <mat-icon>exit_to_app</mat-icon> Logout
              </button>
            </mat-menu>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>