<div class="error">
    <mat-toolbar class="mat-elevation-z8 navbar" >
        <img  class="logo" src="assets/kd-logo-1.png" alt="logo">
    </mat-toolbar>
    <div class="error-container">
        <div class="error-left">
            <div class="text-container">
                <h1>404 error. Doggone it! The page you’re looking for cannot be found.</h1>
                <p>Detective Darwin is hot on the case of the missing webpage! While he's sniffing out the problem.</p>
            </div>
            <p>Meanwhile,why don`t try again by going</p>
            <button routerLink=''>Back Home</button>
        </div>
         <div class="error-right">
             <img src="assets/404.gif" alt="Error-image">
         </div>
    </div>
    <footer>
        <p>© 2021 Keste Damena</p>
    </footer>
</div>